*{
    margin: 0;
    padding: 0;
}
body{
   line-height:1.5;
}
.header_container{
    width: 100%;
    position: relative;    
}
.header_container > img {
    width:  100%;
    vertical-align: middle;

}
.head_title{
   position: absolute;
   bottom: 10%;
   width: 68.5%;
   background-color: #ffc107;
   opacity: 0.7;
   overflow-y: hidden;
   padding: 0.01em 16px;

} 
.head_title:hover{
   background-color: #ff9800;
}
 .head_title > h2{
   font-family: "Segoe UI", Arial, sans-serif;
    font-size: 30px;
    margin: 10px 0;
 }
 .cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
 }
 .card{
    width: 47%;
    border-top: 6px solid orange;
 }
 .card > img{
    width: 100%;
    vertical-align: middle;
 }
 .card > h2{
    margin-top: 20px;
    font-size: 30px;
 }

 .card > p{
    margin-top: 20px;
 }
 

 @media screen and (max-width: 600px) {
   .head_title{
      display: none;
   }
   .cards{
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top:50px ;
   }
   .card{
      width: 90%;
   }
 }